<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body ng-app="myapp">
    <div ng-controller="myctrl" class="col-sm-4" style="margin-left: 450px;margin-top: 50px;background-color: rgb(158, 212, 195);">

            <h3 style="margin-left: 80px;">Diện Tính và Chu Vi</h3><hr>
            <div class="form-group">
                <label for="">Chiều Dài</label>
                <input type="number" ng-model="length" class="form-control">
            </div>
            <div class="form-group">
                <label for="">Chiều Rộng</label>
                <input type="number" ng-model="width" class="form-control">
            </div>
            <div class="form-group">
                <label for="">Diện Tích </label>
                <span class="form-control" ng-bind="acreage"></span>
            </div>
            <div class="form-group">
                <label for="">Chu Vi </label>
                <span class="form-control" ng-bind="perimeter"></span>
            </div>
            
             <div>
                <Button type="submit" ng-click="tinhtoan()">Tính Toán</Button>
                <Button ng-click="choso()">Cho Số</Button>
             </div>
    </div>
      <script>
          var app = angular.module("myapp",[]);
          app.controller("myctrl",function($scope)
          {
            $scope.tinhtoan=function()
            {
                var a = parseInt($scope.width);
                var b =parseInt($scope.length);
                $scope.acreage =a*b;
                $scope.perimeter =(a+b)*2;
            }
            $scope.choso=function()
            {
                var a1 = Math.round(Math.random()*100);
                var b1=Math.round(Math.random()*100);
                $scope.width =a1
                $scope.length =b1
            }
          })
      </script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
<style>label{
    font-size: 20px;
    color: rgb(199, 9, 9);
}
button{
    border-radius: 10px;background-color: khaki;
}
</style>